<!DOCTYPE html>
<html lang="en" ng-app="whitelistApp">
<head>
  <meta charset="utf-8">
  <title>Whitelist</title>
  <style type="text/css">
  @import "css/bootstrap.min.css";
  @import "css/font-awesome.min.css";
  @import "css/bootstrap-theme.min.css";
  @import "css/toastr.css";
  @import "css/jumbotron-narrow.css";
  </style>

  <script src="js/jquery.js"> </script>
  <script src="js/toastr.js" type="text/javascript"></script>
  <script src="js/angular.js" type="text/javascript"></script>
  <script src="js/bootstrap.js" type="text/javascript"></script>
  <script src="js/ui-bootstrap.js" type="text/javascript"></script>
  <script src="js/whitelist.js" type="text/javascript"></script>
</head>
<body ng-controller="WhitelistController">

  <div class="container">
    <div class="header">
      <h3 class="text-muted">Whitelist</h3>
    </div>

    <!-- <div class="jumbotron"> -->
    <!--   <p class="lead">Whitelist is...</p> -->
    <!-- </div> -->

    <div class="col-lg-12">
      <button type="submit" class="btn btn-default" ng-click="addSite()">Add new site</button>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <td>
          site
        </td>
        <!-- <td ng-class="{ active: sortingBy('access_count') }" ng-click="setOrderBy('access_count')"> -->
        <!--   Count -->
        <!--   <i ng-class="{'fa':true, 'fa-fw':true, 'fa-sort-numeric-asc':!sort.descending && sortingBy('access_count'), 'fa-sort-numeric-desc':sort.descending && sortingBy('access_count')}" ></i> -->
        <!-- </td> -->
        <!-- <td ng-class="{ active: sortingBy('last_access') }" ng-click="setOrderBy('last_access')"> -->
        <!--   Last Access -->
        <!--   <i ng-class="{'fa':true, 'fa-fw':true, 'fa-sort-numeric-asc':!sort.descending && sortingBy('last_access'), 'fa-sort-numeric-desc':sort.descending && sortingBy('last_access')}" ></i> -->
        <!-- </td> -->
        <td>action</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in rows | orderBy:'url'">
        <td>{{row.url}}</td>
        <!-- <td>{{row.access_count}}</td> -->
        <!-- <td>{{row.last_access}}</td> -->
        <td><a href="" ng-click="deleteSite(row)">delete</a></td>
      </tr>
    </tbody>
  </table>
  <pagination total-items="wlNumberOfItems" items-per-page="wlPageSize" ng-model="wlCurrentPage"  ng-change="loadRows()"></pagination>

    <div class="header">
      <h3 class="text-muted">Recently Attempted Sites</h3>
    </div>
  <button type="submit" class="btn btn-default" ng-click="purgeCache()">Clear cache</button>
  
  <table class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <td ng-class="{ active: sortingBy('url') }" ng-click="setOrderBy('url')">
          site
          <i ng-class="{'fa':true, 'fa-fw':true, 'fa-sort-alpha-asc':!sort.descending && sortingBy('url'), 'fa-sort-alpha-desc':sort.descending && sortingBy('url')}" ></i>
        </td>
        <td ng-class="{ active: sortingBy('access_count') }" ng-click="setOrderBy('access_count')">
          count
          <i ng-class="{'fa':true, 'fa-fw':true, 'fa-sort-amount-asc':!sort.descending && sortingBy('access_count'), 'fa-sort-amount-desc':sort.descending && sortingBy('access_count')}" ></i>
        <!-- </td> -->
        <td ng-class="{ active: sortingBy('last_access_unix') }" ng-click="setOrderBy('last_access_unix')">
          last
          <i ng-class="{'fa':true, 'fa-fw':true, 'fa-sort-asc':!sort.descending && sortingBy('last_access_unix'), 'fa-sort-desc':sort.descending && sortingBy('last_access_unix')}" ></i>
        <!-- </td> -->
        <td>action</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in blacklist | orderBy:sort.column:sort.descending">
        <td>{{row.url}}</td>
        <td>{{row.access_count}}</td>
        <td>{{row.last_access_humanized}}</td>
        <td>allow
          <a href="" ng-click="addSite(row.url,row.id,false)">{{row.url}}</a> / <a href="" ng-click="addSite(row.url_pattern,row.id,false)">{{row.url_pattern}}</a> / <a href="" ng-click="addSite(row.url_pattern,row.id,false)">edit</a> {{row.id}}</td>
      </tr>
    </tbody>
  </table>


  <pagination total-items="numberOfItems" items-per-page="pageSize" ng-model="currentPage"  ng-change="loadRows()"></pagination>

      <footer class="footer">
        <p>&copy; Yittle Bits 2015</p>
      </footer>

    </div> <!-- /container -->
  </div>

</body>
</html>
