<div class="modal-header">Add a url to the whitelist</div>
<form name="siteForm">
  <div class="modal-body">

    <div class="form-group input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-link"></span></span>
      <input ng-model="site.url" type="text" class="form-control" placeholder="url" required>
    </div>

    
    <div class="form-group input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input ng-model="site.password" type="password" class="form-control" placeholder="password" required/>
    </div>

  </div>
  <div class="modal-footer">
    <button ng-disabled="siteForm.$invalid" class="btn btn-primary" ng-click="save()">Save</button>
    <button class="btn btn-warning" ng-click="close()">Cancel</button>
  </div>
</form>
